body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    background: lightseagreen;
    width: 100vw;
    height: 100vh;
    color: black;
    overflow: hidden;
}

a{
    color: black;
    font-family: Open Sans;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-border{
    background: orange;
    padding: 40px;
    margin: 30px;
    width: 60vw;
    height: 75vh;
    border-radius: 5px;
}